<template>
  <div>
    <form @submit.prevent="submit">
      <label class="label" for="inputTaskName">Task Name </label>
    <br/>
      <input class="input is-primary" v-model.trim="$v.name.$model" id="inputTaskName">
      <div class="error" v-if="!$v.name.required">Name is required</div>
      <div class="error" v-if="!$v.name.minLength">Name must have at least {{$v.name.$params.minLength.min}} letters.</div>
    <br/>
    <br/>
    <label for="inputTaskDescription">Task Description </label>
    <br/>
    <textarea class="textarea is-primary is-small" v-model.trim="$v.description.$model" rows="10" id="inputTaskDescription" maxlength="2048" placeholder="Type some description here"></textarea>
    <div class="error" v-if="!$v.description.required">Description is required</div>
    <div class="error" v-if="$v.description.$error">Description must have at least {{$v.description.$params.minLength.min}} letters or contains not allowed symbols</div>
    <br/>
    <span>Deadline</span>
    <datepicker v-model="messageDeadline" name="datepicker"></datepicker>
    <button class="add-row button is-primary" @click="submit" type="submit" :disabled="submitStatus === 'PENDING'">
      Add new task
    </button>
    </form>
  </div>
</template>
<script>
import { mapMultiRowFields } from 'vuex-map-fields'
import Datepicker from 'vuejs-datepicker'
import { validation } from './mixins/validation'

export default {
  mixins: [validation],
  components: {
    Datepicker
  },
  computed: {
    ...mapMultiRowFields(['tasks']),
    messageDeadline: {
      get () {
        return this.$store.state.tasks.deadline
      },
      set (value) {
        this.$store.commit('createDeadline', value)
      }
    },
    tasks () {
      return this.$store.state.tasks
    }
  }
}

</script>
