<template>
  <div>
    <form @submit.prevent="submit">
      <p>Task ID: {{ getTaskId }}</p>
      <p>Submit status: {{ submitStatus }}</p>
      <label for="inputTaskName">Task Name </label>
      <br/>
      <input class="input is-primary" id="inputTaskName" v-model.trim="$v.name.$model" v-bind:placeholder="[[ messageName ]]" type="text">
      <div class="error" v-if="!$v.name.required">Name is required</div>
      <div class="error" v-if="!$v.name.minLength">Name must have at least {{$v.name.$params.minLength.min}} letters.</div>
      <br/>
      <label for="inputTaskDescription">Task Description </label>
      <br/>
      <textarea class="textarea is-primary is-small" v-model.trim="$v.description.$model" rows="10" id="inputTaskDescription" maxlength="2048" v-bind:placeholder="[[ messageDescription ]]"></textarea>
      <div class="error" v-if="!$v.description.required">Description is required</div>
      <div class="error" v-if="$v.description.$error">Description must have at least {{$v.description.$params.minLength.min}} letters or contains not allowed symbols</div>
      <br/>
      <span>Deadline</span>
      <datepicker v-model="messageDeadline" name="datepicker"></datepicker>
      <button class="add-row button is-primary" @click="update" type="submit" :disabled="submitStatus === 'PENDING'">
        Update Task
      </button>
      <button class="button is-link" v-on:click="doneStatus">Change status to Done</button><br />
      <br />
    </form>
  </div>
</template>

<script>
import { mapMultiRowFields } from 'vuex-map-fields'
import Datepicker from 'vuejs-datepicker'
import { validation } from './mixins/validation'

export default {
  mixins: [validation],
  components: {
    Datepicker
  },
  computed: {
    ...mapMultiRowFields(['tasks']),
    getTaskId: {
      get () {
        var routeParams = this.$route.params
        var value = function (element) { return element.name === routeParams.task_name }
        return this.$store.state.tasks.findIndex(value)
      },
      set (value) {
        this.$store.commit('updateId', value)
      }
    },
    messageName: {
      get () {
        return this.$store.state.tasks[this.getTaskId].name
      },
      set (value) {
        this.$route.params['task_name'] = value
        this.$store.commit('createName', value)
      }
    },
    messageDescription: {
      get () {
        return this.$store.state.tasks[this.getTaskId].description
      },
      set (value) {
        this.$store.commit('createDescription', value)
      }
    },
    messageDeadline: {
      get () {
        return this.$store.state.tasks[this.getTaskId].deadline
      },
      set (value) {
        this.$store.commit('createDeadline', value)
      }
    },
    tasks () {
      return this.$store.state.tasks
    }
  },
  methods: {
    // updateTask: function (event) {
    //   this.$store.commit('editTaskRow', this.getTaskId)
    //   this.$router.push('home')
    // },
    doneStatus: function (event) {
      this.$store.commit('doneStatus', this.getTaskId)
    }
  }
}
</script>
