<template>
  <div class="control">
    <div class="select">
      <label class="label">Select the type of task: {{ selected }} </label><br />
      <select v-model="selected">
        <option disabled value="">Please select one</option>
        <option>In Progress</option>
        <option>Done</option>
        <option>Overdue</option>
      </select>
      <div class="control">
        <div class="field">
          <ul>
            <li v-for="task in filteredTasks" v-bind:key="task.id">
              Name: {{ task.name }}<br />
              Description: {{ task.description }}<br />
              Deadline: {{ task.deadline }}<br />
              Status: {{ task.status }}<br />
              <router-link :to="{ name: 'edit', params: { current_task: task, task_name: task.name }}">Edit</router-link>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { mapFields, mapMultiRowFields } from 'vuex-map-fields'

// localStorage.clear()

export default {
  data () {
    return {
      selected: ''
    }
  },
  computed: {
    ...mapFields([
      'tasks.name',
      'tasks.description'
    ]),
    ...mapMultiRowFields(['tasks']),
    messageName: {
      get () {
        return this.$store.state.tasks.name
      },
      set (value) {
        this.$store.commit('createName', value)
      }
    },
    messageDescription: {
      get () {
        return this.$store.state.tasks.description
      },
      set (value) {
        this.$store.commit('createDescription', value)
      }
    },
    filteredTasks: {
      get () {
        var filteredTasks = []
        var tasks = this.$store.state.tasks
        if (this.selected === 'In Progress' || this.selected === 'Done') {
          filteredTasks = tasks.filter(task => task.status === this.selected)
        } else if (this.selected === 'Overdue') {
          filteredTasks = this.filterTasksOverdue
        } else {
          filteredTasks = tasks
        }
        return filteredTasks
      },
      set (value) {
        this.$store.state.tasks = value
        console.log('Set In Progress ' + value)
      }
    },
    filterTasksOverdue: {
      get () {
        var overdueTasks = []
        var currDate = new Date().toISOString()
        var tasks = this.$store.state.tasks
        overdueTasks = tasks.filter(task => task.deadline < currDate)
        return overdueTasks
      }
    },
    tasks () {
      return this.$store.state.tasks
    }
  }
}
</script>
