<template>
  <div id="app">
    <div id="nav">
      <router-link to="/">All tasks</router-link> |
      <router-link to="/create">Create task</router-link>
    </div>
    <router-view/>
  </div>
</template>

<style lang="scss">
@import 'variables';

*, *::before, *::after {
  box-sizing: border-box;
}

#app {
  /*max-width: 400px;*/
  margin: 0 auto;
  line-height: 1.4;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: $vue-blue;
}

ul {
  line-height: 200%;
}

li{
  margin: 10px 0;
}

a {
  color: blue;
  cursor: pointer;
}

a:active {
  color: #78ecff;
}

.input.is-primary {
  width: 400px;
  min-width: 100px;
}

.textarea.is-primary {
  width: 400px;
  min-width: 100px;
}
</style>
